:root {
    --primary-color: #8a2be2;
    --background-color: #1a1a1a;
    --text-color: #e0e0e0;
    --solo-theme: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 51, 1) 20%, rgba(0, 0, 102, 1) 40%, rgba(51, 0, 102, 1) 60%, rgba(102, 0, 153, 1) 80%, rgba(0, 0, 0, 1));
    --card-background-color: #2a2a2a;
    --card-text-color: #e0e0e0;
    --shadow-color: rgba(255, 255, 255, 0.3); /* Default shadow color for dark mode */
    --base-font-size: 1rem; /* Base font size */
}

html {
    font-size: 100%; /* 1rem = 16px */
    margin: 0;
}

body {
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: var(--base-font-size);
    margin: 0;
}

header {
    background: var(--solo-theme);
    color: white;
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.profile-photo {
    width: 250px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

header div {
    text-align: center;
}

.navbar {
    background: var(--solo-theme);
    padding: 10px;
    text-align: center;
}
.menu-toggle {
    display: none;}
.navbar a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1rem; /* Responsive font size */
}

.navbar button {
    background-color: #fff;
    color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 1rem; /* Responsive font size */
}

.navbar button:hover {
    background-color: #ddd;
}

.content-item {
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.content-item:last-child {
    border-bottom: none; /* Remove the border from the last article */
}

.container {
    max-width: 80%;
    margin: 20px auto;
    overflow: hidden;
}
#summary p {
    white-space: pre-wrap;
}
.section {
    margin-bottom: 30px;
}

.section h2 {
    color: var(--primary-color);
    margin-bottom: 10px;
    font-size: 1.5rem; /* Responsive font size */
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: var(--card-background-color);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding:15px 20px ;
    margin: 10px;
    width: calc(30%);
    box-sizing: border-box; /* Include padding in width */
    box-shadow: 0px 1px 8px var(--shadow-color);
    color: var(--card-text-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
    will-change: transform;
    overflow: hidden;
    font-size: 1rem; /* Responsive font size */
    height: 500px;
}
.card img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
    border: 3px solid var(--primary-color);
    box-shadow: 0 0 10px var(--shadow-color);
}
.card:hover {
    z-index: 999;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--primary-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1.1);
    position: relative;
    height: auto;
}
.card p{
    overflow: hidden;
    
}

.card h3 {
    margin-top: 0;
    font-size: 1.25rem; /* Responsive font size */
}

.card a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1rem; /* Responsive font size */
   
}

.card a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1rem; /* Responsive font size */
}

a:hover {
    text-decoration: underline;
}


.view-more, .view-less {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.view-more:hover, .view-less:hover {
    background-color: #6a1b9a;
}


article{
    
    border-top:1px solid var(--primary-color);
    padding-top: 20px;
}

article:last-child{
    border-bottom:1px solid var(--primary-color);
    padding-bottom: 20px;
}

footer {
    background: var(--solo-theme);
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 1.7vh;
    margin: 0;
}

.footer-content a {
    color: var(--solo-theme);
    margin: 0 10px;
    text-decoration: none;
    font-size: 1rem; /* Responsive font size */
}

.footer-content a:hover {
    text-decoration: underline;
}

@media (max-width: 890px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    header div {
        text-align: center;
        margin-bottom: 20px;
        order: 2;
        font-size: smaller;
    }

    .profile-photo {
        width: 10wh;
        height: auto;
        order: 1;
    }
    .navbar {
        position: fixed;
        width: 8rem;
        height: 101%;
        background: var(--background-color) ;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 1000;
        padding-top: 60px;
        /* padding-right: 0px; */
        box-shadow: var(--shadow-color);
        border-right: 1 solid var(--primary-color);
        border-radius:  0 10px 10px 0;
    }
    .navbar.active {
        transform: translateX(0);
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
    }
    .navbar a{
        color: var(--card-text-color);
        
    }
    .navbar a{
        margin: 10px 0;
        border-bottom:  1px solid var(--primary-color);
    }
    .menu-toggle {
        display: block;
        position: fixed;
        top: 15px;
        left: 15px;
        width: 40px;
        height: 40px;
        background: var(--primary-color);
        color: white;
        font-size: 1.5rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        z-index: 1001;
    }
    .navbar a {
        font-size: 1rem;
        padding: 20px 0px;
        display: block;
    }
    #theme-toggle{
        background-color: var(--primary-color);
        color: white;
        margin: 10px 0;
    }
    .card {
        flex: 1 1 100%;
         overflow: hidden;
        height: 100%;
        box-shadow: 0 0 10px var(--shadow-color);
    
    }
    .card:hover {
        transform: none;
      
    }
    #card-description{
       height: auto;
        
    }
    .card img {
        height: 200px;
    }
}
